@model Banking.Shared.Models.TransactionListModel

@using Banking.Shared.Enums

<div class="container w-100 mb-3 rounded justify-content-around align-items-center border p-2">
        <input type="text" name="dateRange" id="filter-date" class="p-1" style="width: 230px; text-align:center; font-size: 18px"
               value="@DateTime.Now.Subtract(TimeSpan.FromDays(30)).ToShortDateString() - @DateTime.Now.ToShortDateString()" />
</div>

<partial name="_TransactionListPartial" model="@Model" />

<div class="container row justify-content-end">
    <button type="button" id="exp" class="btn btn-primary">Export</button>
</div>

@section Scripts{ 
    <script type="text/javascript">
        $(function () {
            $('input[name="dateRange"]').daterangepicker({
                opens: 'right'
            }, function (start, end, label) {
                $.get("/Dashboard/TransactionsByRangeTime",
                    { accountId: '@Model.AccountId', startDate: start.format('YYYY-MM-DD'), endDate: end.format('YYYY-MM-DD') },
                    function (data) {
                        $("#replaced-with-transactions").replaceWith(data);
                    }
                )
            });
        });

        $("#check-all").change(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
        });

        $("#exp").click(function () {
            var arr = [];
            $("input[type=checkbox]").not($("#check-all")).each(function () {
                var self = $(this);
                if (self.is(':checked')) {
                    arr.push(self.val());
                }
            });
            if (arr.length != 0) {
                $.get("/Dashboard/GetSelectedTransactionsAsPdf", { accountId: '@Model.AccountId', transactionsIds: arr.join() },
                    function (response) {
                        window.location = '/Dashboard/DownlaodPdf?fileGuid=' + response.fileGuid
                            + '&fileName=' + response.fileName;
                    })
            } else {
                $rangeTime = $("#filter-date").val();
                $.get("/Dashboard/GetTransactionsAsPdf", { accountId: '@Model.AccountId', dateRange: $rangeTime },
                    function (response) {
                        window.location = '/Dashboard/DownlaodPdf?fileGuid=' + response.fileGuid
                            + '&fileName=' + response.fileName;
                    })
            }
        })

    </script>
}