@model Banking.Shared.Models.TransactionListModel

@using Banking.Shared.Enums

<div class="container w-100 mb-3 rounded justify-items-around align-items-center border p-2">
    <form asp-controller="Dashboard" asp-action="GetTransactionsAsPdf" method="get" id="filter-form">
        <input type="hidden" name="accountId" value="@Model.AccountId" />
        <input type="text" name="dateRange" id="filter-date" class="p-1"  style="width: 200px; text-align:center"
               value="@DateTime.Now.ToShortDateString() - @DateTime.Now.AddDays(30).ToShortDateString()" />
        <button type="submit" class="btn btn-primary">Export as PDF</button>
    </form>
</div>

<partial name="_TransactionListPartial" model="@Model" />

@section Scripts{ 
    <script type="text/javascript">
        $(function () {
            $('input[name="dateRange"]').daterangepicker({
                opens: 'right'
            }, function (start, end, label) {
                $.get("/Dashboard/TransactionsByRangeTime",
                    { accountId: '@Model.AccountId', startDate: start.format('YYYY-MM-DD'), endDate: end.format('YYYY-MM-DD') },
                    function (data) {
                        $("#replaced-with-transactions").replaceWith(data);
                    }
                )
            });
        });
    </script>
}