@model Banking.Shared.Models.AccountListModel

@using Banking.Shared.Enums


<div class="container row justify-content-center" id="editBid">

    @if (Model.Accounts is not null)
    {

        foreach (var account in Model.Accounts)
        {
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@((AccountTypeEnum)account.AccType)</h5>
                    <p class="card-text">Amount: @account.Amount @account.CurrencyType.ToString() </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" data-toggle="modal" data-target="#exampleModal" 
                                                   onclick="func(typeOfAction.Withdrawal, '@account.Id.ToString()')">Withdrawal</a></li>
                    <li class="list-group-item"><a href="#" data-toggle="modal" data-target="#exampleModal"
                                                   onclick="func(typeOfAction.Deposit, '@account.Id.ToString()')">Deposit</a></li>
                    <li class="list-group-item"><a href="">Transfer</a></li>
                </ul>
            </div>
        }

    }
    else
    {
        <div>You do not have an account!</div>
    }

</div>


<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="to-be-replaced"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
