@model ICollection<Banking.Shared.Models.ClientModel>

<div id="client-list-results">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">CNP</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Total Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                <tr>
                    <th scope="row"><a asp-action="Client" asp-controller="Dashboard" asp-route-id="@client.Id">@client.Id.ToString().Split("-").First()</a></th>
                    <td>@client.CNP</td>
                    <td>@client.FullName</td>
                    <td>@client.Address</td>
                    <td>@client.Total</td>
                </tr>
            }
        </tbody>
    </table>
</div>