@model Banking.Shared.Models.CreateAccountModel

@using Banking.Shared.Enums


<div class="container w-100 p-3 border rounded m-2 ">
    <a style="text-decoration: none; color: black;" href="#" data-toggle="modal" data-target="#createAccountModal">
        <i class="fas fa-plus" style="font-size:2rem;"></i>
    </a>
</div>

<!--Modal-->
<div class="modal fade" id="createAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col">
                    <div class="form-group justify-content-center align-content-center border rounded p-2">
                        <h3 class="m-2 p-0">Account Type</h3>
                        <hr />

                        @foreach (AccountTypeEnum accountTypeEnum in (AccountTypeEnum[])Enum.GetValues(typeof(AccountTypeEnum)))
                        {
                            <div class="row border m-auto justify-content-between align-items-center p-2 accountType_enum" style="margin-bottom: 1rem !important;"
                                 onclick="select(@(accountTypeEnum.ToString().ToLower()), '.accountType_enum')">
                                <label class="m-0" asp-for="AccountType">@accountTypeEnum </label>
                                <input type="radio" value="@((int)accountTypeEnum)" asp-for="AccountType"
                                       id="@(accountTypeEnum.ToString().ToLower())"
                                       checked="@(Model?.AccountType == accountTypeEnum)" />
                            </div>
                        }
                    </div>

                    <div class="form-group justify-content-center mt-5 mb-5 border rounded p-2">
                        <h4>Currency Type</h4>
                        <hr />
                        <div class="row m-auto">
                            @foreach (CurrencyType currencyType in (CurrencyType[])Enum.GetValues(typeof(CurrencyType)))
                            {
                                <div class="col justify-content-center currencyType_enum"
                                     onclick="select(@(currencyType.ToString().ToLower()), '.currencyType_enum')">
                                    <input type="radio" value="@((int)currencyType)" asp-for="CurrencyType"
                                           id="@(currencyType.ToString().ToLower())"
                                           checked="@(Model?.CurrencyType == currencyType)" />
                                    <label>@currencyType.ToString()</label>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>